#header{
  width:auto;
  border: 1px green;
  border-color:grey;
  background: #e9e4e4;
  height:138px;
  position:sticky;
  top:0;
}

#header-img{
  margin-top:9px;
  margin-left: 70px;
  }

#my-logo{
      margin-top: 0px;
    margin-bottom: -30px;
}

#logo-name{
  padding:2px;
  margin-bottom:35px;
 }
#quote{
  font-size:16px;
 font-weight:normal;
}
.email{
  float:right;
  margin-top:-66px;
  }
#email{
  border:2px solid grey;
  padding:4px;
  font-weight: bold;
  height:18px;
  width:180px;  
}

.submit-button{
  background-color:#e40c14;
  color:white;
  border:2px solid grey;
  padding:4px  0px;
  font-weight: bold;
  height:30px;
  width:80px;
}

.nav-link{
  float:left;
  list-style:none;
  padding:6px 50px;
  margin-top:-32px;
  margin-left:auto;
  font-size:21px;
  background:#C8E9E4;
 border-right: 2px solid grey;
  
  
}

#nav-bar ul li a:hover{
  font-size:23px;
  color:red;
}
#nav-bar ul li a{
  text-decoration: none;
  }

#nav-bar ul li:last-child{
  border-right:none;
}
#product-name{
  text-align:center;
      margin-right: 200px;
    margin-left: 200px;
}
.product-img{
  padding:22px;
}
@media(max-width:800px){
  .nav-link{
    float:left;
  list-style:none;
  padding:6px 8px;
  margin-top:-32px;
  margin-left:auto;
  font-size:18px;
  background:#C8E9E4;
  }
}

#container{
  display:flex;
  
}

#product-description{
  font-size:20px;
  padding-left: 55px;
    padding-right: 65px;
}

#video{
  float:;
  }

#footer ul li a{
  text-decoration: none;
  display: flex;
  }

  .footer-link{
  float:left;
    padding: 15px;
    list-style:none;
    margin-right:13px;
    margin-left:195px;
}

footer span {
  display:flex;
   font-size: 0.9em;
    }
.from-bar{
  text-align:center;
  color:#01002B;
  text-shadow: 2px .2px 2px #5FA49A;
  text-spacing:2em;
}
#from-bar{
  color:#01002B;
  text-shadow: 2px .2px 2px #5FA49A;
  text-spacing:2em;
}
#box-container{
  display:flex;
  justify-content:space-around;
}
.players{
  font-size:20px;
}
#trading ul li a{
  text-decoration: none;
  }
#trading ul li a:hover{
  font-size:30px;
  }
.trade{
  float:left;
  list-style:none;
  padding:6px 60px;
  margin-top:-32px;
  margin-left:auto;
  font-size:18px;
  
}